<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practiseapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PractiseApplication"
        tools:targetApi="31">
        <activity
            android:name=".Remaining"
            android:exported="false" />
        <activity
            android:name=".cartpage3"
            android:exported="false" />
        <activity
            android:name=".Search_Page1"
            android:exported="false" />
        <activity
            android:name=".Select_Location"
            android:exported="false" />
        <activity
            android:name=".Otpverification_successfull"
            android:exported="false" />
        <activity
            android:name=".Verify_otp_enabled"
            android:exported="false" />
        <activity
            android:name=".Verify_Otp"
            android:exported="false" />
        <activity
            android:name=".Get_otp_enabled"
            android:exported="false" />
        <activity
            android:name=".Ger_otp"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".SearchPage"
            android:exported="false" />
        <activity
            android:name=".Layout2"
            android:exported="false" />
        <activity
            android:name=".Layout1"
            android:exported="false" />
        <activity
            android:name=".SplashScreen2"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
    </application>

</manifest>